</style>
 <link rel="stylesheet" href="https://rawgit.com/hawk-ip/jquery.tabSlideOut.js/master/jquery.tabSlideOut.css"> 
<style type="text/css">

body {
    font-family: Open Sans, Helvetica, sans-serif;
}
#left {
    border-color: red;
}
#left .handle {
    /*background-color: red;*/
}
/*#sm_pnl_favoritos_pestana {
    border-color: red;
    border-width: 5px;
	z-index:9999999999;
}
#sm_pnl_favoritos_pestana .handle {
    background-color: red;
}*/
#bottom {
    border-color: blue;
}
#bottom .handle {
    background-color: blue;
}
pre {
    margin-left: 3em;
}