@font-face {
    font-family: TradeGothicBold;
    src: url(../../LIbrerias/fonts/TradeGothicBold.ptf);
}


/**************************************GENERAL*******************************************/
input,a,h1,h2,h3,h4,p,input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a,p,input{
   line-height: 1.42857143 ;
}




body{
	width:1200px;
	margin:auto;
	padding:0px !important;
	margin:auto !important;
	background-color: #b50f16;
	background-position: center;
	line-height: 0;
	/*	overflow-y: scroll !important;*/
}


#sm_header_static,#sm_main_static,#sm_logo_main,#sm_pnl_searcher{
	display:inline-block;
	position:relative;
}


#sm_header_static{
	width:100%;
	height:80px;
	background-color:#000000;
	padding:20px 0px 20px 0px;
	-webkit-box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.37);
}

#sm_main_static{
	width:100%;
	/*height:900px;*/
	max-height:2500px;
	border:0px solid black;
	background-color: #E8E8E8;
}

#sm_footer_static{
	width:100%;
	height:70px;
	border:0px solid black;
	background-color: #000000;
	padding: 10px 50px 10px 50px;
	display: inline-block;
}

#sm_footer_static p{
	color:#fff;
	display:inline-block;
	padding:0px;
	float:left;
	margin:0px;
	line-height:3.8 !Important;
}

#sm_footer_static img{
  float:right;
  display:inline-block;
}

#sm_logo_main{
	/*top:10px;*/
	left:40px;
	height:100%;
}

#sm_pnl_searcher{
	float:right;
	height:100%;
	width:80%;
}

#sm_searcher{
	height:100%;
	width:60%;
	font-size:1.2em;
	float:left;
	border: none;
	
}

#sm_btn_searcher{
	height:100%;
	width:5%;
	font-size:1.2em;
	float:left;
	border:none;
	background-color:#fff;
}

#sm_span_icon{
	font-family:FontAwesome;
	
}

.sm_header{
	
}

.sm_main{
	float:left;
	width:949px;
	display:inline-block;
	transition: 0.5s;
}

.sm_pnl_characters_tit{
	display:inline-block;
	width:100%;
	height:auto;
	margin-left: 7%;
	margin-bottom:0%;
}
.sm_pnl_characters_tit p, .sm_pnl_characters_tit img{
	float:left;
}

.sm_pnl_characters_tit p{
	display:inline-block;
	padding:0px;
	margin:8px 5px 0px 0px;
}

.sm_txt_characters_tit{
	
}

.sm_pnl_characters, .sm_pnl_characters_cont, .sm_pnl_characters_pag {
	display:inline-block;
	width:100%;
}

.sm_pnl_characterpreview{
    width:40%;
	height:400px;
}

.sm_pnl_characterdetail{
    width:86%;
    margin: 0% 7% 0% 7%;
}

.sm_pnl_characterpreview,.sm_pnl_characterdetail{
	display:inline-block;
	background-color:#FFF;
	float:left;
	margin-top:5%;
}

.sm_pnl_characterpreview:nth-child(odd) {
	margin-left:7%;
	margin-right:3%;
}

.sm_pnl_characterpreview:nth-child(even) {
	margin-left:3%;
	margin-right:7%;
}

.sm_pnl_characterprevie_cont{
	margin: 0% 10% 10% 10%;
    height: 80%;
    width: 80%;
	display:inline-block;
	position:relative;
}

.sm_pnl_characterdetail_cont{
	width:100%;
	display:inline-block;
	position:relative;
}

.sm_txt_characterprevie_titu{
	position: absolute;
    display: inline-block;
    top: -5px;
    width: 62%;
    font-size: 0.9em;
    left: 50% !important;
    margin-top: 0px;
    padding-top: 0px;
	font-weight: 800;
}

.sm_txt_characterdetail_titu{
	position: absolute;
    display: inline-block;
    top: -5px;
    width: 50%;
    font-size: 0.9em;
    left: 50% !important;
    margin-top: 0px;
    padding-top: 0px;
	font-weight: 800;
}

.sm_txt_characterprevie_titu{
	 font-size: 0.9em;
		
}

.sm_txt_characterdetail_titu{
    top: -13px;
    font-size: 1.9em;
}

.sm_txt_characterprevie_titu_2{
	font-weight:700;
	 color: #787878;
	 padding-bottom:5px;
}

.sm_txt_characterdetail_titu_2{
	font-weight:700;
	 color: #787878;
	 padding-bottom:5px;
	 padding-left:2%;
	 font-size:1.3em;
}

.sm_txt_characterprevie_desc{
	display: inline-block;
    text-align: left;
    margin-left: 50%;
    height: 127px;
    margin-top: 0px;   
    width:50%;	
}

.sm_txt_characterdetail_desc{
    display: inline-block;
    width:100%;
    float:left;
}

.sm_txt_characterdetail_desc p{
    font-size: 0.6em;
    color: #787878;
	word-break: break-word;
	width: 48%;
    display: inline-block;
    margin-left: 2%;
    line-height: 160% !important;
}

.sm_txt_characterprevie_desc p{
    font-size: 0.6em;
    color: #787878;
	word-break: break-word;
}



.sm_btn_viewmore{
	border:none;
	margin-left:50%;
	background-color: red;
    color: #FFF;
    display: inline-block;
	padding:3% 5% 3% 5%;
	font-size: small !important;
}

.sm_btn_viewmore:hover{
	background-color:#b50f16;
}



.sm_pnl_characterprevie_img{
	position: absolute;
    top: -23px;
    left: -60px !Important;
    width: 200px;
    height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border .2s linear;
    transition: border .2s linear;
    z-index: 1;
    background: trasparent;
}

.sm_pnl_characterdetail_img{
  display:inline-block;
  width:46%;
  float:left;
  margin-left:2%;
}

.sm_pnl_characterprevie_img img{
   -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border-radius: 144px;
}

.sm_pnl_characterprevie_comics{
	
}

.sm_pnl_characterprevie_comics_linea, .sm_pnl_characterdetail_comics_linea, .sm_txt_characterdetail_comics_na{
  height:auto;
  width:100%;
  display:inline-block
}

.sm_txt_characterdetail_comics_na{
  margin-left:2%;
}

.sm_txt_characterprevie_comics, .sm_txt_characterprevie_comics_na{
	display:inline-block;
	width:40%;
	margin-bottom:5%;
	float: left !important;
	font-size:22px;
	
}

.sm_txt_characterdetail_comics{
	display:inline-block;
	width:40%;
	margin-bottom:2%;
	float: left !important;
	line-height:1.5;

}

.sm_txt_characterdetail_comics p, .sm_txt_characterdetail_comics p a{
	font-size:0.7em !important;
	color:#787878;
	text-decoration:none;
}

/*.sm_txt_characterdetail_comics p:before{
 content: "\f061";
 font-family:FontAwesome;
}*/

.sm_txt_characterprevie_comics:nth-child(odd), .sm_txt_characterdetail_comics:nth-child(odd){
	margin-left:5%;
	margin-right:4%;
}

.sm_txt_characterprevie_comics:nth-child(even), .sm_txt_characterdetail_comics:nth-child(even){
	margin-left:5%;
	margin-right:4%;
}

.sm_txt_characterprevie_comics p, .sm_txt_characterprevie_comics_na p, .sm_txt_characterdetail_comics_na p  {
	color: #787878 ;
	font-size: 0.6em;
	margin:0px;
	padding:0px;
	word-break: break-word;
	line-height:1.0 !important;
}

.sm_txt_characterprevie_comics p a{
	color: #787878 ; 
}

.sm_txt_characterprevie_comics a:hover{
   text-decoration: none;
}

.sm_txt_characterprevie_comics p a:hover, .sm_txt_characterdetail_comics p a:hover{
   color:red;
   text-decoration: none;
}



.sm_ddl_lg{
	height: 40px;
    width: 200px;
    float: left;
    display: inline-block;
    margin-left: 425px;
	font-size: large;

}

.sm_mdl_detallecomic{
	width:60% !important;
}

.sm_mdlfooter_detallecomic{
	padding:0px;
	height:60px;
}

.sm_mdlheader_detallecomic{
	padding: 15px 15px 0px 15px;
	border:none !important;
}

.sm_pnl_detallecomic{
	height:300px;
	width:100%;
}

#sm_pnl_detallecomic_img{
	width:40%;
	height:100%;
	display:inline-block;
	float:left;
}

#sm_pnl_detallecomic_txt{
	width: 57%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    overflow-y: scroll;
}

.sm_btn_comicdetalle{
	margin:0px !important;
	border-radius: 0px !important;
	padding:10px 0px 10px 0px;
	color:red;
	font-weight:600;
	background-color:#E8E8E8;
	border:none;
	height:100%;
	background-image:none;
}
.sm_btn_comicdetalle:hover{
	background-color:#000000;
    color:red;
}

.sm_btn_comicdetalle img{
   margin-right:15px;	
}

._sm_mdl_background{
  display:none;
}

._sm_img_barraEstado {
  top:90px !important;
  left:-50px !Important;
}

._sm_pnl_tituloinfo{
	width:100%;
	display:inline-block;
	word-break:break-word;
}

._sm_pnl_tituloprincipal_detallecomic{
	word-break:break-word;
	display:inline-block;
	font-size:22px;
	font-weight:600;
	width:90%;
	text-align:center;
	
	
}

.sm_pnl_paginador{
	text-align:center;
	display:inline-block;
	width:100%;
}


.sm_pnl_paginador_root{
	display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.sm_pnl_paginador_root li{
	font-size:24px;
	display:inline-block;
}


.sm_pnl_paginador_root li a{
    padding: 8px 18px !important;
    margin-left: 10px !important;
	background-color: #FFF !important;
	color:#B8B8B8;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.31) !Important;
   -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.31) !important;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.31) !important;
}

.sm_btn_paginador_izq_activo a, .sm_btn_paginador_der_activo a, .sm_btn_paginador_activo a{
	color:#000 !important;
}

.sm_btn_paginador_izq_inactivo, .sm_btn_paginador_der_inactivo, .sm_btn_paginador_inactivo a{
	color:#B8B8B8;
}

.sm_btn_paginador_izq_inactivo{
 /*  background-image: url("../images/btn_arrow_left.png");*/
}

.sm_btn_paginador_izq_inactivo a::after{
	content: "\f104";
	Font-Family: FontAwesome;
}	

.sm_btn_paginador_izq_prev_inactivo a::after{
	content: "\f100";
	Font-Family: FontAwesome;
}

.sm_btn_paginador_der_inactivo a::after{
	content: "\f105";
	Font-Family: FontAwesome;
}	

.sm_btn_paginador_der_next_inactivo a::after{
	content: "\f101";
	Font-Family: FontAwesome;
}



/*********************************************BARRA LATERAL DESPLEGABLE*****************************************/
.sidenav {
	display:inline-block;
    height: 100%;
    width: 250px;
    position: relative;
    z-index: 1;
    top: 0;
    background-color: #D8D8D8;
    overflow-x: hidden;
	overflow-y: hidden;
    transition: 0.5s;
	float:right;
	
}

#sm_pnl_sidenav{
	display:inline-block;
	float:right;
	height:2500px;
}


#sm_h_tituloBarraLateral{
	width:100%;
	display:block;
	height:40px;
	margin-top:5px;
	margin-bottom:5px;
}

#sm_h_tituloBarraLateral h1,#sm_h_tituloBarraLateral img{
   float:left;
}

#sm_h_tituloBarraLateral img{
   margin-left:35px;
}

#sm_h_tituloBarraLateral h1{
	font-size:1.2em;
	display:inline-block;
	margin-left:5px;
	margin-top: 10px;
    width:150px;
}



#sm_div_cuerpoBarraLateral{
	width:100%;
	height:98%;
	overflow-y: scroll;
	
}

.sm_pnl_fav_comic{
	width:100%;
	height:auto;
	position:relative;	
	margin-top:40px;
	transition: 0.5s;
}

.sm_img_trash_comic{
	position:absolute;
	top: -18px;
    right: 18px;
}

.sm_pnl_img_comic{
	
	margin:10px 35px 0px 35px;
}

.sm_pnl_txt_comic p{
	padding:0px 35px 0px 35px;
	font-weight:bold;
	
}

#sm_btn_favoritos{
	/*content: url('../images/btn-favourites-primary.png');
	background-image:url('../images/btn-favourites-primary.png');*/
	/*width:40px;
	height:40px;*/
	/*padding:20px 0 20px 0;*/
	background-color:red;
	color:#FFF;
	display:inline-block;
	float:right;
	transition: 0.5s;
	z-index:2;
	position:relative;
	
}

#sm_btn_favoritos span{
	display: inline-block;
    z-index: 3;
    padding-left: 10px;
}

#sm_btn_favoritos::before{
	color: red;
    background-color: red;
	position: absolute;
    top: 0;
    content: "";
    width: 16px;
    height: 50px;
    left: -11px;
    -webkit-transform: skew(-11deg,0);
    -ms-transform: skew(-11deg,0);
    transform: skew(-11deg,0);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}






