	

	/**************************************GENERAL*********************************/
	@font-face {
		font-family: Champagne_Limousines;
		src: url(../../../Librerias/fonts/Champagne_Limousines.ttf);
	}
	
	@font-face {
		font-family: Champagne_Limousines_Bold;
		src: url(../../../Librerias/fonts/Champagne_Limousines_Bold.ttf);
	}
	
	@font-face {
		font-family: OpenSans_Bold;
		src: url(../../../Librerias/fonts/OpenSans-ExtraBold.ttf);
	}
	
	input,a,h1,h2,h3,h4,p,input, select,button {
		font-family: Champagne_Limousines !important;
	}

	a,p,input{
	   line-height: 1.42857143 ;
	}

	body{
		width:100%;
		height:100%;
		margin:auto;
		padding:0px !important;
		margin:auto !important;
		background-color: #b50f16;
		background-position: center;
		line-height: 0;
	}


	#sm_pnl_cabecera_estatica,#sm_cuerpo_estatico,#sm_logo_main,#sm_pnl_searcher{
		display:inline-block;
		position:relative;
	}
     /****************************FIN_GENERAL************************************/
	 
	 /*****************************CABECERA**************************************/
	 #sm_pnl_cabecera_estatica{
		width:100%;
		position:relative;
		background-color:#000000;
		padding:20px 0px 20px 0px;
		-webkit-box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.37);
		-moz-box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.37);
		box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.37);
	 }
	 
	 .sm_pnl_cabecera_estatica_cuerpo{
		display:inline-block;
		position:relative;
		text-align:center;
	 }
	 
	  #sm_pnl_logo_menu, .sm_pnl_logo {
		width:150px;
		height:40px;
		display:inline-block;
		position:relative;
	  }
    
	  #sm_pnl_buscador{
		display:inline-block;
		position:relative;
	  }
	  
	  #sm_pnl_buscador_entrada{
		display:inline-block;
		position:relative;
		height:100%;
	  }
	  
	  #sm_buscador{
		height:100%;
		font-size:1.2em;
		border: none;
		padding-left:20px;
	 }
	 
	 #sm_btn_buscador{
		height:100%;
		font-size:1.2em;
		float:left;
		border:none;
		background-color:#fff;
		outline:0;
	}

	#sm_boton_menu_767px{
		font-size:40px;
		display:none;
		color:white;
		
	}

	#sm_boton_menu_767px:hover{
		color:#b50f16;
		transition:0.5s;
	}
	 
	/****************************FIN_CABECERA*********************************/
	 
	 
	/********************************PIE**************************************/
	
	#sm_pie_principal{
		width:100%;
		height:auto;
		display: inline-block;
		border:0px solid black;
		background-color: #000000;
		padding: 10px 50px 10px 50px;
	}

	#sm_pie_principal p{
	    width:100%;
		color:#fff;
		display:inline-block;
		padding:0px;
		margin:0px;
		text-align:center;
	}
	
    /*********************************FIN_PIE********************************/	
	 
	 
	 
	 
	#sm_cuerpo_principal{
		 text-align:center;
		 width:100%;
	}
 
	.sm_pnl_tituloprincipal_listaordenamiento{
	   display: inline-block;
	   height:50px;
	   margin-top:20px;
	   margin-bottom:20px;
	}

	.sm_lista, sm_btn{
		height: 100%;
		display: inline-block;
		font-size: large;
		margin-right:7%;
	}

	#sm_btn_ordenamiento{
		border:0px;
		color:#FFFFFF;
		background-color:#B8B8B8;
		transition:0.5;
	}

	#sm_btn_ordenamiento:hover{
		color:red;
	}


#sm_pnl_favoritos_pestana{
	height:100%;
	bottom:0px !important;
	background-color:#B8B8B8;
	border-color:#B8B8B8;
	z-index:9999999999;
    /*border-width: 5px;*/
}

#sm_pnl_favoritos_pestana .handle {
    background-color:#B8B8B8;
}

.sm_icono_favoritos{
	margin-right:10px;
	margin-left:0px;
}

#sm_btn_favoritos{
	background-color:#B8B8B8;
	text-decoration:none;
}

#sm_btn_favoritos:hover{
  color:red;
}

#sm_btn_favoritos p, #sm_btn_favoritos img {
 float:left;
}

.sm_contenido_principal{
	display:inline-block;
}

	.sm_txt_titulo_historietas_personajes{  
		text-align:left !important;
		color: #787878;
		font-family: Champagne_Limousines_Bold !important;
	}





	.sm_pnl_titulo_principal{
		display:inline-block;
		height:auto;
		margin-top:0px;
	} 

	.sm_pnl_titulo_principal p{
		  margin:0px !important;
	}
	
	.sm_pnl_personajes{
		position:relative;
	}
	
	.sm_pnl_personajes, .sm_pnl_personajes_contenido, .sm_pnl_personajes_paginador {
		display:inline-block;
		background-color: #D8D8D8;
	}
	
	.sm_pnl_personajes_contenido{
		width:100%;
	}

	.sm_pnl_characterprevie_cont h3:nth-child(2){
	  line-height:0;
	}
		
#sm_cuerpo_estatico{
	width:100%;
	max-height:2500px;
	border:0px solid black;
	background-color: #E8E8E8;
	text-align:center;
}


/********************************PERSONAJES***********************************/

	.sm_pnl_personaje_previo, .sm_pnl_characterdetail{
		display:inline-block;
		position:relative;
		background-color:#FFF;
		float:left;
		margin-top:5%;
		text-align:left !important;
	}



/*****************************FIN_PERSONAJES***********************************/




#sm_span_icon{
	font-family:FontAwesome;
	
}




.sm_txt_characters_tit{
	
}


.sm_pnl_characterdetail{
    width:86%;
    margin: 0% 7% 0% 7%;
}





.sm_pnl_characterprevie_cont{
	margin: 0% 10% 10% 10%;
    height: 80%;
    width: 80%;
	display:inline-block;
	position:relative;
}

.sm_pnl_characterdetail_cont{
	width:100%;
	display:inline-block;
	position:relative;
}

	/*Nombre principal del personaje*/
	.sm_txt_nombre_personaje{
		position: absolute;
		display: inline-block;
		font-family: OpenSans_Bold !important;
		word-break:break-word;
	}

.sm_txt_characterdetail_titu{
	position: absolute;
    display: inline-block;
    top: -5px;
    width: 50%;
    font-size: 0.9em;
    left: 50% !important;
    margin-top: 0px;
    padding-top: 0px;
	font-weight: 800;
}


.sm_txt_characterdetail_titu{
    top: -13px;
    font-size: 1.9em;
}



.sm_txt_characterdetail_titu_2{
	font-weight:700;
	 color: #787878;
	 padding-bottom:5px;
	 padding-left:2%;
	 font-size:1.3em;
}

.sm_txt_descripcion_personaje{
	display: inline-block;
    text-align: left;
    margin-top: 0px;   
}

.sm_txt_characterdetail_desc{
    display: inline-block;
    width:100%;
    float:left;
}

.sm_txt_characterdetail_desc p{
    font-size: 0.6em;
    color: #787878;
	word-break: break-word;
	width: 48%;
    display: inline-block;
    margin-left: 2%;
    line-height: 160% !important;
}

.sm_txt_descripcion_personaje p{
    color: #787878;
	word-break: break-word;
}



.sm_btn_ver_detalles_personaje{
	display: inline-block;
	border:none;
	background-color: red;
	color: #FFF;
}

.sm_btn_ver_detalles_personaje:hover{
	background-color:#b50f16;
}


.sm_pnl_imagen_personaje{
	position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border .2s linear;
    transition: border .2s linear;
    z-index: 1;
    background: trasparent;
}

.sm_pnl_characterdetail_img{
  display:inline-block;
  width:46%;
  float:left;
  margin-left:2%;
}

.sm_pnl_imagen_personaje img{
   -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border-radius: 144px;
}

.sm_pnl_characterprevie_comics{
	
}

.sm_pnl_nombre_historieta_personaje, .sm_pnl_characterdetail_comics_linea, .sm_txt_characterdetail_comics_na{
  height:auto;
  display:inline-block
}

.sm_txt_characterdetail_comics_na{
  margin-left:2%;
}

.sm_txt_nombre_historieta_personaje, .sm_txt_nombre_historieta_personaje_na{
	display:inline-block;
	font-weight:bold;
	float: left !important;	
	text-align:left;
}

.sm_txt_characterdetail_comics{
	display:inline-block;
	width:40%;
	margin-bottom:2%;
	float: left !important;
	line-height:1.5;

}

.sm_txt_characterdetail_comics p, .sm_txt_characterdetail_comics p a{
	font-size:0.7em !important;
	color:#787878;
	text-decoration:none;
}


.sm_txt_nombre_historieta_personaje:nth-child(odd), .sm_txt_characterdetail_comics:nth-child(odd){
	margin-left:0%;
	margin-right:9%;
	text-align:left;
}

.sm_txt_nombre_historieta_personaje:nth-child(even), .sm_txt_characterdetail_comics:nth-child(even){
	margin-left:9%;
	margin-right:0%;
	text-align:left;
}

.sm_txt_nombre_historieta_personaje p, .sm_txt_nombre_historieta_personaje_na p, .sm_txt_characterdetail_comics_na p  {
	color: #787878 ;
	font-size: 0.6em;
	font-weight:bold;
	margin:0px;
	padding:0px;
	word-break: break-word;
	line-height:1.0 !important;
}

.sm_txt_nombre_historieta_personaje p a{
	color: #787878 ; 
}

.sm_txt_nombre_historieta_personaje a:hover{
   text-decoration: none;
}

.sm_txt_nombre_historieta_personaje p a:hover, .sm_txt_characterdetail_comics p a:hover{
   color:red;
   text-decoration: none;
}



.sm_mdl_detallecomic{
	width:60% !important;
}

.sm_pnl_pie_personajes_historietas{
	padding:0px;
	height:60px;
}

.sm_pnl_personajes_detalle_historietas{
	padding: 15px 15px 0px 15px;
	border:none !important;
}

.sm_pnl_detallecomic{
	height:300px;
	width:100%;
}

#sm_pnl_detallecomic_img{
	width:40%;
	height:100%;
	display:inline-block;
	float:left;
}

#sm_pnl_detallecomic_txt{
	width: 57%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 3%;
    overflow-y: scroll;
}

.sm_btn_comicdetalle{
	margin:0px !important;
	border-radius: 0px !important;
	padding:10px 0px 10px 0px;
	color:red;
	font-weight:600;
	background-color:#E8E8E8;
	border:none;
	height:100%;
	background-image:none;
	
}
.sm_btn_comicdetalle:hover{
	background-color:#000000;
    color:red;
}

.sm_btn_comicdetalle img{
   margin-right:15px;	
}

._sm_mdl_progreso_personajes{
  display:none;
}

._sm_img_barraEstado {
  top:90px !important;
  left:-50px !Important;
}

._sm_pnl_tituloinfo{
	width:100%;
	display:inline-block;
	word-break:break-word;
}

.sm_pnl_personajes_titulo_historietas{
	word-break:break-word;
	display:inline-block;
	font-size:22px;
	font-weight:600;
	width:90%;
	text-align:center;
	
	
}

.sm_pnl_paginador{
	text-align:center;
	display:inline-block;
	width:100%;
}


.sm_pnl_paginador_root{
	display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.sm_pnl_paginador_root li{
	font-size:24px;
	display:inline-block;
}


.sm_pnl_paginador_root li a{
    padding: 8px 18px !important;
    margin-left: 10px !important;
	background-color: #FFF !important;
	color:#B8B8B8;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.31) !Important;
   -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.31) !important;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.31) !important;
}

.sm_btn_paginador_izq_activo a, .sm_btn_paginador_der_activo a, .sm_btn_paginador_activo a{
	color:#000 !important;
}

.sm_btn_paginador_izq_inactivo, .sm_btn_paginador_der_inactivo, .sm_btn_paginador_inactivo a{
	color:#B8B8B8;
}

.sm_btn_paginador_izq_inactivo{
 /*  background-image: url("../images/btn_arrow_left.png");*/
}

.sm_btn_paginador_izq_inactivo a::after{
	content: "\f104";
	Font-Family: FontAwesome;
}	

.sm_btn_paginador_izq_prev_inactivo a::after{
	content: "\f100";
	Font-Family: FontAwesome;
}

.sm_btn_paginador_der_inactivo a::after{
	content: "\f105";
	Font-Family: FontAwesome;
}	

.sm_btn_paginador_der_next_inactivo a::after{
	content: "\f101";
	Font-Family: FontAwesome;
}



/*********************************************BARRA LATERAL DESPLEGABLE*****************************************/
.sidenav {
	display:inline-block;
    height: 100%;
    width: 250px;
    position: relative;
    z-index: 1;
    top: 0;
    background-color: #B8B8B8;
    overflow-x: hidden;
	overflow-y: hidden;
    transition: 0.5s;
	float:right;
	
}

#sm_pnl_sidenav{
	display:inline-block;
	float:right;
	height:2500px;
}


#sm_pnl_favoritos_titulo_principal{
	width:100%;
	display:block;
	height:40px;
	margin-top:5px;
	margin-bottom:5px;
}

#sm_pnl_favoritos_titulo_principal h1,#sm_pnl_favoritos_titulo_principal img{
   float:left;
}

#sm_pnl_favoritos_titulo_principal img{
   margin-left:35px;
}

#sm_pnl_favoritos_titulo_principal h1{
	font-size:1.2em;
	display:inline-block;
	margin-left:5px;
	margin-top: 10px;
    width:150px;
}


#sm_pnl_favoritos_contenido{ /*sm_div_cuerpoBarraLateral*/
	width:100%;
	height:98%;
	overflow-y: scroll;
	
}

.sm_pnl_fav_comic{
	width:100%;
	height:auto;
	position:relative;	
	margin-top:40px;
	transition: 0.5s;
}

.sm_img_trash_comic{
	position:absolute;
	top: -18px;
    right: 18px;
}

.sm_pnl_img_comic{
	
	margin:10px 35px 0px 35px;
}

.sm_pnl_txt_comic p{
	padding:0px 35px 0px 35px;
	font-weight:bold;
	
}

#sm_btn_favoritos{
	/*content: url('../images/btn-favourites-primary.png');
	background-image:url('../images/btn-favourites-primary.png');*/
	/*width:40px;
	height:40px;*/
	/*padding:20px 0 20px 0;*/
	background-color:red;
	color:#FFF;
	display:inline-block;
	float:right;
	transition: 0.5s;
	z-index:2;
	position:relative;
	
}

#sm_btn_favoritos span{
	display: inline-block;
    z-index: 3;
    padding-left: 10px;
}



.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sm_background_barra_progreso{
   position:fixed;
   width:100%;
   height:100%;
   display:none;
   top:0px;
   background:#000;
   opacity:0.5;
   z-index:17;
   
}

#sm_pnl_barra_progreso{
   position:fixed;
   width:100%;
   height:100%;
   display:none;
   top:0px;   
   z-index:20;
  
}

#sm_pnl_contenido_barra_progreso{
   display:inline-block;
   margin:auto;
   width:100%;
   height:auto;
   text-align:center;
}

#sm_pnl_contenido_barra_progreso p{
  width:234px;
  text-align:center;
  display:inline-block;
  z-index:15;
  color:white;
 
}

.sm_pnl_mensaje_barra_progreso{
	display:inline-block;
	position:relative;
	z-index:99999;
	width:100%;
	text-align:center;
	
}

