/***************************QUERYS MEDIAS**********************************/

@media (min-width:1200px) {
  .sm_pnl_personajes, .sm_pnl_tituloprincipal_listaordenamiento, .sm_pnl_personajes_contenido {
	 width:1000px;
   }
}

@media (max-width:1199px) {
 
   .sm_pnl_personajes {
	 width:100%;
   }
	
}

@media (min-width: 992px) {
	#sm_buscador{
		width:93%;
		float:left;
	}
  
	#sm_btn_buscador{
		width:7%;
	}
	
	.sm_pnl_personajes_contenido, .sm_pnl_tituloprincipal_listaordenamiento{
	   width:970px;
	}
	
    /*Logo principal de la app.*/
	#sm_pnl_logo_menu{
		float:left;
		margin-left:40px;
	}
		
	/*Contenedor del logo y del buscador*/
	.sm_pnl_cabecera_estatica_cuerpo{
	   width:100%;
	}
	
	/*Contenedor de buscador*/
	#sm_pnl_buscador_entrada{
		   width:100%;
	}
	  
	/*Contenedor del buscador*/
	#sm_pnl_buscador{
		width: 67%;
		height:40px;
		margin-left: 3%;
		float:left;
	}
	
	/*Contenedor de cada personaje*/
	.sm_pnl_personaje_previo{
		width:40%;
		height:350px;
	}
	
	/*Boton para ordenar la busqueda*/	
	#sm_btn_ordenamiento{
		display:none;
	}
	
	/*Lista o drop down lista para ordenar la busqueda*/
	.sm_lista_ordenamiento{
		width: 200px;
		float: right;
		height:40px;
    }

	/*Nombre principal del personaje*/
	.sm_txt_nombre_personaje{
		width: 50%;
		font-size: 1.1em;
		left: 50%;
		top:-7px;
		margin-top: 0px;
		padding-top: 0px;
		font-weight: 800;	
		text-align:left;	
	}
	
	/*Imagen principal del personaje*/
	.sm_pnl_imagen_personaje{
		position: absolute;
		top: -23px;
		left: -23px;
		width: 200px;
		height: 200px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: border .2s linear;
		transition: border .2s linear;
		z-index: 1;
		background: trasparent;
	}
	
	/*Descripcion principal del personaje */
	.sm_txt_descripcion_personaje{
	    height: 135px;	
		margin-left: 50%;
		margin-top: 0px;   
		width:45%;	
    }
	
	/*Descripcion principal del personaje */
	.sm_txt_descripcion_personaje p{
		font-size: 1.2em;
		font-weight:bold;
		padding-top:25px;
	}
	
	/*Boton para ver detalles del personaje*/
	.sm_btn_ver_detalles_personaje{
		margin-left:50%;
		padding:3% 5% 3% 5%;
		font-size: 1em !important;
        font-weight: bold !important;
	}
	
	/*Titulo de las historietas del personaje*/
	.sm_txt_titulo_historietas_personajes{  
		padding-bottom:5px;
		font-weight:700;
		padding-left: 7.5%;
		padding-right: 7.5%;
		margin-top: 20px;
	}
	
	/*Contenedor nombres de las historietas del personaje */
	.sm_pnl_nombre_historieta_personaje{
		width:85%;
		margin:0% 7.5% 0% 7.5%;
	}
	
	/*Nombres de las historietas del personaje*/
	.sm_txt_nombre_historieta_personaje, .sm_txt_nombre_historieta_personaje_na{
		width:40%;
		margin-bottom:5%;
		font-size:22px;
	}
  
}

@media (max-width:991px) {
  .sm_pnl_personajes {
	width:100%;
  }
}

@media (min-width:768px) and (max-width:991px) {

	.sm_pnl_personajes_contenido, .sm_pnl_tituloprincipal_listaordenamiento{
	   width:770px;
	}
	
	#sm_buscador{
		width:90%;
		float:left;
	}
	  
	#sm_btn_buscador{
		width:10%;
	}
	
	
	/*Cabecera*/
	#sm_pnl_cabecera_estatica{
	  text-align:center;
	}
	
	/*Contenedor del logo y del buscador*/
	.sm_pnl_cabecera_estatica_cuerpo{
	   width:770px;
	}
	
	/*Logo principal de la app.*/
	#sm_pnl_logo_menu{
	   margin-left:9%;
	}
	
	/*Contenedor del buscador*/
	#sm_pnl_buscador {
		width: 61%;
		height: 40px;
		margin-right: 9%;
		float: right;
	}
	
	/*Contenedor del buscador*/
	#sm_pnl_buscador_entrada{
		width:100%;
	}
	
	/*Contenedor de cada personaje*/
	.sm_pnl_personaje_previo{
		width:40%;
		height:350px;
	}
	
	/*Boton para ordenar la busqueda*/	
	#sm_btn_ordenamiento{
		display:none;
	}
	
	/*Lista o drop down lista para ordenar la busqueda*/
	.sm_lista_ordenamiento{
		width: 200px;
		float: right;
		height:40px;
    }

	/*Nombre principal del personaje*/
	.sm_txt_nombre_personaje{
		width: 50%;
		font-size: 1.1em;
		left: 50%;
		top:-7px;
		margin-top: 0px;
		padding-top: 0px;
		font-weight: 800;	
		text-align:left;	
	}
	
	/*Imagen principal del personaje*/
	.sm_pnl_imagen_personaje{
		position: absolute;
		top: -23px;
		left: -23px;
		width: 150px;
		height: 150px;
		z-index: 1;
		background: trasparent;
	}
	
	/*Descripcion principal del personaje */
	.sm_txt_descripcion_personaje{
	    height: 128px;	
		margin-left: 50%;
		margin-top: 0px;   
		width:45%;	
    }
	
	/*Descripcion principal del personaje */
	.sm_txt_descripcion_personaje p{
		font-size: 1em;
		font-weight:bold;
		padding-top:25px;
	}
	
	/*Boton para ver detalles del personaje*/
	.sm_btn_ver_detalles_personaje{
		margin-left:50%;
		padding:3% 5% 3% 5%;
		font-size: 1em !important;
        font-weight: bold !important;
	}
	
	/*Titulo de las historietas del personaje*/
	.sm_txt_titulo_historietas_personajes{  
		padding-bottom:5px;
		font-weight:700;
		padding-left: 7.5%;
		padding-right: 7.5%;
		margin-top: 20px;
	}
	
	/*Contenedor nombres de las historietas del personaje */
	.sm_pnl_nombre_historieta_personaje{
		width:85%;
		margin:0% 7.5% 0% 7.5%;
	}
	
	/*Nombres de las historietas del personaje*/
	.sm_txt_nombre_historieta_personaje, .sm_txt_nombre_historieta_personaje_na{
		width:40%;
		margin-bottom:5%;
		font-size:22px;
	}	

}

@media (min-width: 768px) {
	
  #sm_cabecera_estatica{
	height:80px;
	text-align:center;
	
  }
  
  

	.sm_contenido_principal{
		width:941px;
	}
  
	.sm_pnl_titulo_principal{
		width:50%;
		margin-left: 7%;
		margin-bottom:0%;
		float:left;
		text-align:left;
    } 

	.sm_pnl_lista_ordenamiento{
		  width:50%;
		  float:left;
	 }
	 
	
	
	.sm_pnl_personaje_previo:nth-child(odd) {
		margin-left:7%;
		margin-right:3%;
     }

	.sm_pnl_personaje_previo:nth-child(even) {
		margin-left:3%;
		margin-right:7%;
    }
	
}

@media (min-width:576px) and (max-width:767px) {
  #sm_buscador{
	width:90%;
	float:left;
  }
  
  #sm_btn_buscador{
    width:10%;
  }
  
  #sm_pnl_buscador{
	  width:540px;
  }
  
  #sm_pnl_buscador_entrada{
	width:100%;
	height:40px;
	float:none;
	text-align:center;
  }
  
  #sm_pnl_logo_menu{
	  width:540px;
	  margin-bottom:10px;
  }
  
  .sm_pnl_personajes_contenido{
	  width:540px;
  }
  
    /*Contenedor del personaje*/
	.sm_pnl_personaje_previo{
		width:250px;
		height:270px;
		float:left;
		text-align:left;
		margin-bottom:0px;
	}
   
    /*Contenedor de la lista y el boton para ordenar la busqueda*/
	.sm_pnl_tituloprincipal_listaordenamiento{
		  margin:0px;
	}
   
   	/*Nombre principal del personaje*/
	.sm_txt_nombre_personaje{
		left:40%;
		font-size:0.9em;
		margin:0px;
		top:-7px;
		text-align:left !important;
	}
	
	/*Imagen principal del personaje*/
	.sm_pnl_imagen_personaje{
		width:100px;
		height:100px;
		top:-13px;
		left:-10px !important;
	}
	
	/*Descripcion principal del personaje)*/
	.sm_txt_descripcion_personaje{
		margin-left: 40%;
		margin-top:20px;   
		width:60%;	
		font-size:1.3em;
		height:68px;
    }
	
	/*Descripcion principal del personaje*/
	.sm_txt_descripcion_personaje p{
		font-size: 0.6em;
		font-weight:bold;
	}
	
	/*Boton para ver detalles del personaje*/
	.sm_btn_ver_detalles_personaje{
		margin-left:40%;
		padding:2% 3% 2% 3%;
		font-size: 0.8em !important;
        font-weight: bold !important;
	}
	
	/*Titulo de las historietas del personaje*/
	.sm_txt_titulo_historietas_personajes{  
		padding-bottom:5px;
		font-weight:700;
		padding-left: 7.5%;
		padding-right: 7.5%;
		margin-top: 20px;
		font-size:0.9em;
	}
	
	/*Contenedor nombres de las historietas del personaje */
	.sm_pnl_nombre_historieta_personaje{
		width:85%;
		margin:0% 7.5% 0% 7.5%;
	}
	
	/*Nombres de las historietas del personaje*/
	.sm_txt_nombre_historieta_personaje, .sm_txt_nombre_historieta_personaje_na{
		width:40%;
		margin-bottom:5%;
	}
	
	.sm_txt_nombre_historieta_personaje p, .sm_txt_nombre_historieta_personaje_na p{
		font-size:0.7em !important;
	}
      
   .sm_pnl_personaje_previo:nth-child(odd){
	   margin-left:7.5px;
	   margin-right:12.5px;
   }
   
   .sm_pnl_personaje_previo:nth-child(even)  {
	   margin-left:12.5px;
	   margin-right:7.5px;
   }
   
}

@media (max-width: 767px) {
	
  #sm_cabecera_estatifca{
	height:160px;
  }
  
  .sm_pnl_cabecera_estatica_cuerpo{
	width:100%
  }
    
  .sm_pnl_logo{
	  float:left;
  }

  
  #sm_boton_menu_767px{
	  display:inline-block;
	  float:right;
  }
  
  .sm_pnl_titulo_principal{
	  width:100%;
	  margin:20px 0px 20px 0px !important;
	  text-align: center;
	  vertical-align:middle;
  }


 .sm_pnl_titulo_principal p{
	  margin:0px !important;
	  float:none !important;
  }  
  
	#sm_pie_principal p{
		  line-height:1.1 !Important;
	}
    
   .sm_pnl_tituloprincipal_listaordenamiento{
	   height:auto;
   }
   
   .sm_lista_ordenamiento{
	  height:50px;
	  float:none;
	  margin:0px;
   }
   
   #sm_btn_ordenamiento{
		display:inline-block;
		text-align:center;
		width: 200px;
		height:40px;
		margin-bottom:30px;
	}
	
	.sm_lista_ordenamiento{
		display:none;
	}
	 
}


@media (max-width:575px) {
	
	#sm_buscador{
		width:87%;
		float:left;
	}
  
	#sm_btn_buscador{
		width:13%;
	}
	
	#sm_pnl_buscador{
		width:90%;
	}
	  
	#sm_pnl_buscador_entrada{
		width:100%;
		height:40px;
		float:none;
		text-align:center;
	}
  
    /*Contenedor del menu principal*/
	#sm_pnl_logo_menu{
		width:90%;
		margin-bottom:10px;
	}
	
	/*Barra con titulo y lista de ordenamiento*/
	.sm_pnl_tituloprincipal_listaordenamiento{
	   margin-bottom:0px;
	   margin-top:0px;
	}
  
    /*Contenido principal de la app*/
	.sm_contenido_principal{
		width:300px;
		text-align:center;
	}
  
  	/*Contenedor de cada personaje*/
	.sm_pnl_personaje_previo{
		width:45%;
		height:270px;
		float:none !important;
		text-align:center !important;
        margin:0% 5% 10px 5% 0%;  
		float:left !important;
	}
	
	/*Contenedor de cada personaje*/
	.sm_pnl_personaje_previo:nth-child(odd){
	   margin-left:3.3333333%;
	   margin-right:1.6666666%;
    }
   
   /*Contenedor de cada personaje*/
    .sm_pnl_personaje_previo:nth-child(even)  {
	   margin-left:1.66666%;
	   margin-right:3.3333%;
    }
	
	/*Nombre principal del personaje*/
	.sm_txt_nombre_personaje{
		width:100%;
		font-size:0.9em;
		margin:0px;
		top:-7px;
		left:0px;
	}
	
	/*Imagen principal del personaje*/
	.sm_pnl_imagen_personaje{
		position: relative;
		display:inline-block;
		margin-top: 25px;
		width: 100px;
		height: 100px;
		z-index: 1;
		margin-left:0%;
		background: trasparent;
	}
	/*Descripcion principal del personaje)*/
	.sm_txt_descripcion_personaje{
		margin-left: 0%;
		margin-top:15px;   
		width:90%;	
		font-size:1.5em;
		height:30%;
		text-align:center;
    }
	
	/*Descripcion principal del personaje*/
	.sm_txt_descripcion_personaje p{
		font-size: 0.55555em;
		font-weight:bold;
	}
	
	/*Boton para ver detalles del personaje*/
	.sm_btn_ver_detalles_personaje{
	    width:100px;
		margin-left:0%;
		padding:3% 5% 3% 4%;
		font-size: 0.9em !important;
        font-weight: bold !important;
	}
	
	/*Titulo de las historietas del personaje*/
	.sm_txt_titulo_historietas_personajes{  
		padding-bottom:5px;
		font-weight:700;
		margin-top: 15px;
		font-size:1.1em;
		text-align:center !important;
		display:none;
	}
	
	.sm_pnl_characterprevie_comics{
	    display:none;
	}
	
	/*Contenedor nombres de las historietas del personaje */
	.sm_pnl_nombre_historieta_personaje{
		width:85%;
		margin:0% 7.5% 0% 7.5%;
	}
	
	/*Nombres de las historietas del personaje*/
	.sm_txt_nombre_historieta_personaje, .sm_txt_nombre_historieta_personaje_na{
		width:100%;
		margin-bottom:5%;
		font-size:1.1em;
		margin:0px 0px 10px 0px !important;
	}
	
	.sm_txt_nombre_historieta_personaje p, .sm_txt_nombre_historieta_personaje_na p{
		font-size:0.7em !important;
		text-align:center;
	}
}

@media (max-width:300px) {
	
	/*Contenido principal de la app*/
	.sm_pnl_personajes_contenido, .sm_pnl_personajes{
		width:300px;
		text-align:center;
	}
}



/*************************************************************************/

