 <div class="sm_pnl_fav_comic">
	      <img class="sm_img_trash_comic" width="35px" height="35px" src="../../images/btn-delete.png" >
		  <div class="sm_pnl_img_comic">
	          <img width="100%" height="100%" src="../../images/img_comic_example_1.jpg" >
		  </div>
		  <div class="sm_pnl_txt_comic">
		  <p>
		    Lorep ipsun texto is loprep ipsun es to lo re...ver mas.
		  </p>
		  </div>
	   </div>
