<div class="sm_pnl_characterpreview" >
	    <div class="sm_pnl_characterprevie_cont">
		<h3 class="sm_txt_characterprevie_titu">CAPTAIN AMERICA<h3>
		<div class="sm_pnl_characterprevie_img">
		  <img width="100%" height="100%" src="http://i.annihil.us/u/prod/marvel/i/mg/3/a0/531771d5927db/standard_incredible.jpg">
		</div>
	    <div class="sm_txt_characterprevie_desc" >
		     <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Lorem Ipsum es simplemente el texto Lorem Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto de relleno de las imprentas y archivos de texto</p>
		</div>
		<input class="sm_btn_viewmore"type="button" value="View More">
		<h4 class="sm_txt_characterprevie_titu_2">Related Comics</h4>
		<div class="sm_pnl_characterprevie_comics">
		
		    <div class="sm_pnl_characterprevie_comics_linea">
			<div class="sm_txt_characterprevie_comics">
			<a href="#" data-toggle="modal" data-target="#sm_mdl_characterscomic"><p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p></a>
			</div>
			<div class="sm_txt_characterprevie_comics">
			<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos Lorem Ipsum es simplemente el texto de relleno de las imprentas y Lorem Ipsum es simplemente el texto de relleno de las imprentas y Lorem Ipsum es simplemente el texto de relleno de las imprentas y de texto</p>
			</div>
			</div>
			<div class="sm_pnl_characterprevie_comics_linea">
			<div class="sm_txt_characterprevie_comics">
			<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
			</div>
			<div class="sm_txt_characterprevie_comics">
			<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
			</div>
			</div>
	    </div>
</div>
</div>